<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vvahe.aramis2is70">

    <!-- required user permissions for app to work -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ProfileActivity" />

        <service android:name=".GPS_Service"/>
        <!-- API key for google maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD2Ma4IwXawFaPF0rrAdKgUQvyr73hABG4" />

        <activity
            android:name=".CourseListActivity"
            android:label="@string/title_activity_course_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".searchCourseActivity"
            android:label="@string/title_activity_search_course"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>